
<div class="col-md-8 col-md-offset-2">
  <div class="row">

      <h2 style="color:#004d00">This are your deals</h2>
      <table>
      <thead>
        <tr>
          <th>Deal</th>
          <th>Item</th>
          <th>No. of Deals</th>
          <th>price</th>
          <th>Total price</th>

        </tr>

      </thead>
      <tbody>

      <%= render(cart.line_items) %>

      <tr class="total_line">
      <td></td>
      <td></td>
      <td></td>
      <td class="total_title">Total</td>

      <td class="total_cell"><%= "kes #{cart.total_price}" %></td>

      </tr>
      </tbody>
      </table>
      <div class="row">
        <div class="col-md-3">
          <%= button_to 'Empty cart', cart, method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
      <%= button_to "Checkout", new_order_path, method: :get,  class: "btn btn-primary" %><br>
      </div>
      <%= link_to 'Edit', edit_cart_path(@cart) %> |
      <%= link_to 'Back', carts_path %>

  </div>
</div>
