<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.deal.company %></td>
  <td><%= line_item.deal.description %></td>
  <td><%= line_item.quantity %></td>
  <td><%= "kes #{line_item.deal.price}" %></td>
  <td class="item_price"><%= "kes #{line_item.total_price}" %></td>
</tr>
