<!DOCTYPE html>
<html>
<head>
  <title>HilaOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top ">
      <div class="row">
       <div class="col s4">SUPPORT/CALL TO ORDER?</div>
       <div class="col s4">FREE DELIVERY?</div>
       <div class="col s4">PAY ON DELIVERY?</div>
      </div>

  </div>

  <div class="top2">
  <div class="row">
      <div class="col s1"><p>.</p></div>
<div class="col s2"><%= image_tag("logo.png", :alt => "rss feed") %></div>
<div class="col s4">
<form>
<div class="input-field">
  <input type="search" id="search-field" class="field" required maxlength="">
  <label for="search-field"><i class="mdi-action-search"></i></label>
  <i class="mdi-navigation-close close"></i>
</div>
</form>
      </div>
<div class="col s3"> <button class="btn waves-effect waves-light" type="login" name="action">LOGIN

</button>
</div>
<div class="col s2"><%= image_tag("#", :alt => "rs feed") %></div>
</div>
<%= image_tag("navtop.jpg", :alt => "rss feed") %>
  </div>
      <hr>
      <div class="navtop">
      <div class="row">
<div class="col s1"><%=link_to "TRAVEL", travels_path%></div>
<div class="col s2"><%=link_to "FOOD & DRINKS", foodanddrinks_path%></div>

<div class="col s2"><%=link_to "EVENTS & ACTIVITIES", eventsandactivities_path%></div>
<div class="col s1"><%=link_to "BEAUTY", beauties_path%></div>
<div class="col s2"><%=link_to "ELECTRONICS", electronics_path%></div>
<div class="col s2"><%=link_to "FASHION", fashions_path%></div>
<div class="col s2"><%=link_to "HOME & LIVING", homeandlivings_path%></div>
      </div>
  <%= link_to 'New Deal', new_deal_path %>
<%= yield %>

</body>
</html>
