<!DOCTYPE html>
<html>
<head>
  <title>HilaOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

              <div class="top ">
                  <div class="row">
        <div class="col s4">SUPPORT/CALL TO ORDER?</div>
        <div class="col s4">FREE DELIVERY?</div>
        <div class="col s4">PAY ON DELIVERY?</div>
      </div>

              </div>

              <div class="top2">
              <div class="row">
                  <div class="col s1"><p>.</p></div>
        <div class="col s2"><%= image_tag("logo.png", :alt => "rss feed") %></div>
        <div class="col s4">
            <form>
  					<div class="input-field">
  						<input type="search" id="search-field" class="field" required maxlength="">
  						<label for="search-field"><i class="mdi-action-search"></i></label>
  						<i class="mdi-navigation-close close"></i>
  					</div>
  				</form>
                  </div>
        <div class="col s3"> <button class="btn waves-effect waves-light" type="login" name="action">LOGIN

    </button>
  </div>
       <div class="col s2"><%= image_tag("#", :alt => "rs feed") %></div>
      </div>
      <%= image_tag("navtop.jpg", :alt => "rss feed") %>
              </div>
                  <hr>
                  <div class="navtop">
                  <div class="row">
        <div class="col s1">TRAVEL</div>
        <div class="col s2"><%=link_to "Food & drinks", foodanddrinks_path%></div>

        <div class="col s2">EVENTS & ACTIVITIES</div>
        <div class="col s1">BEAUTY</div>
        <div class="col s2">ELECTRONICS</div>
        <div class="col s2">FASHION</div>
        <div class="col s2">HOME & LIVING</div>
                  </div>
                  <div id="container">
                <h5>New Deals</h5>
                <div class="body">
 <div class="row">
      <div class="card medium">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">

               <%= image_tag("rupu1.jpg", :alt => "rss feed") %>
            

            </div>

            <div class="card-content">
              <div class="row">
                <div class="col s8">
              <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
                <br>
                <p><small><span style="color:grey">by Ruputravel</span></small></p>
                <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
              </div>
                <div class="col s4">
                  <%= image_tag("buy.jpg", :alt => "rss feed") %>
                </div>
              </div>
            </div>
     </div>
   </div>


      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
             <%= image_tag("rupu2.jpg", :alt => "rss feed") %>

          </div>

          <div class="card-content">
            <div class="row">
              <div class="col s8">
            <p><a href="#"><span style="color:black">Mashujaa Day Offer: 2 Day Longonot Hike & Camping</span></p>
              <br>
              <p><small><span style="color:grey">by Ruputravel</span></small></p>
              <p><span style="color:grey; text-decoration: line-through">7,500</span>  <span style="color:green;font-weight:bold">KSh 5,300.00</span>  .<span style="color:red;font-weight:bold">save 2,200/-</span></p>
            </div>
              <div class="col s4">
                <%= image_tag("buy.jpg", :alt => "rss feed") %>
              </div>
            </div>
          </div>
   </div>
 </div>

 <div class="col s12 m4">
   <div class="card">
     <div class="card-image">
        <%= image_tag("rupu3.jpg", :alt => "rss feed") %>

     </div>
     <div class="card-content">
       <div class="row">
         <div class="col s8">
       <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
         <br>
         <p><small><span style="color:grey">by Ruputravel</span></small></p>
         <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
       </div>
         <div class="col s4">
           <%= image_tag("buy.jpg", :alt => "rss feed") %>
         </div>
       </div>
     </div>
</div>
</div>


     </div>
        </div>
        </div>
                    <div class="section">

                     <div class="row">
                       <div class="card medium">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
               <%= image_tag("rupu4.jpg", :alt => "rss feed") %>

            </div>

            <div class="card-content">
              <div class="row">
                <div class="col s8">
              <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
                <br>
                <p><small><span style="color:grey">by Ruputravel</span></small></p>
                <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
              </div>
                <div class="col s4">
                  <%= image_tag("buy.jpg", :alt => "rss feed") %>
                </div>
              </div>
            </div>
     </div>
   </div>


   <div class="col s12 m4">
     <div class="card">
       <div class="card-image">
          <%= image_tag("rupu5.jpg", :alt => "rss feed") %>

       </div>

       <div class="card-content">
         <div class="row">
           <div class="col s8">
         <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
           <br>
           <p><small><span style="color:grey">by Ruputravel</span></small></p>
           <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
         </div>
           <div class="col s4">
             <%= image_tag("buy.jpg", :alt => "rss feed") %>
           </div>
         </div>
       </div>
</div>
</div>


<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
       <%= image_tag("rupu6.jpg", :alt => "rss feed") %>

    </div>

    <div class="card-content">
      <div class="row">
        <div class="col s8">
      <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
        <br>
        <p><small><span style="color:grey">by Ruputravel</span></small></p>
        <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
      </div>
        <div class="col s4">
          <%= image_tag("buy.jpg", :alt => "rss feed") %>
        </div>

      </div>
    </div>
</div>
</div>


     </div>
        </div>

        <div class="section">
          <h5>Home & Living</h5>
          <div class="row">
               <div class="card medium">
                 <div class="col s12 m4">
                   <div class="card">
                     <div class="card-image">
                        <%= image_tag("rupu7.jpg", :alt => "rss feed") %>

                     </div>

                     <div class="card-content">
                       <div class="row">
                         <div class="col s8">
                       <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
                         <br>
                         <p><small><span style="color:grey">by Ruputravel</span></small></p>
                         <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
                       </div>
                         <div class="col s4">
                           <%= image_tag("buy.jpg", :alt => "rss feed") %>
                         </div>
                       </div>
                     </div>
              </div>
            </div>


            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                   <%= image_tag("rupu8.jpg", :alt => "rss feed") %>

                </div>

                <div class="card-content">
                  <div class="row">
                    <div class="col s8">
                  <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
                    <br>
                    <p><small><span style="color:grey">by Ruputravel</span></small></p>
                    <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
                  </div>
                    <div class="col s4">
                      <%= image_tag("buy.jpg", :alt => "rss feed") %>
                    </div>
                  </div>
                </div>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="card">
           <div class="card-image">
              <%= image_tag("rupu9.jpg", :alt => "rss feed") %>

           </div>

           <div class="card-content">
             <div class="row">
               <div class="col s8">
             <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
               <br>
               <p><small><span style="color:grey">by Ruputravel</span></small></p>
               <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
             </div>
               <div class="col s4">
                 <%= image_tag("buy.jpg", :alt => "rss feed") %>
               </div>
             </div>
           </div>
    </div>
  </div>

        </div>
      </div>
    </div>
    <div class="imagess">
<%= image_tag("home.jpg", :alt => "rss feed") %>
</div>
<hr>
<div class="section">
  <h5>Beauty</h5>
  <div class="row">
       <div class="card medium">
         <div class="col s12 m4">
           <div class="card">
             <div class="card-image">
                <%= image_tag("rupu10.jpg", :alt => "rss feed") %>

             </div>

             <div class="card-content">
               <div class="row">
                 <div class="col s8">
               <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
                 <br>
                 <p><small><span style="color:grey">by Ruputravel</span></small></p>
                 <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
               </div>
                 <div class="col s4">
                   <%= image_tag("buy.jpg", :alt => "rss feed") %>
                 </div>
               </div>
             </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
           <%= image_tag("rupu11.jpg", :alt => "rss feed") %>

        </div>

        <div class="card-content">
          <div class="row">
            <div class="col s8">
          <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
            <br>
            <p><small><span style="color:grey">by Ruputravel</span></small></p>
            <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
          </div>
            <div class="col s4">
              <%= image_tag("buy.jpg", :alt => "rss feed") %>
            </div>
          </div>
        </div>
 </div>
</div>

<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
       <%= image_tag("rupu12.jpg", :alt => "rss feed") %>

    </div>

    <div class="card-content">
      <div class="row">
        <div class="col s8">
      <p><a href="#"><span style="color:black">Day Tour To Oloolua Nature Trail & Falls</span></p>
        <br>
        <p><small><span style="color:grey">by Ruputravel</span></small></p>
        <p><span style="color:grey; text-decoration: line-through">2,550</span>  <span style="color:green;font-weight:bold">KSh 1,900.00</span>  .<span style="color:red;font-weight:bold">save 650/-</span></p>
      </div>
        <div class="col s4">
          <%= image_tag("buy.jpg", :alt => "rss feed") %>
        </div>
      </div>
    </div>
</div>
</div>

</div>
</div>
</div>
        </div>


    <%=link_to "Beauty", beauties_path%>
    <%= link_to 'New Deal', new_deal_path %>


<%= yield %>

</body>
</html>
