<!DOCTYPE html>
<html>
<head>
  <title>puru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top ">
      <div class="row">
       <div class="col-md-4">SUPPORT/CALL TO ORDER?</div>
       <div class="col-md-4">FREE DELIVERY?</div>
       <div class="col-md-4">PAY ON DELIVERY?</div>
      </div>

  </div>

  <div class="top2">
  <div class="row">

    <div class="col-md-2"><%= image_tag("logo.png", :alt => "rss feed")%></div>
    <div class="col-md-3">
    <form>
    <div class="input-field">
      <input type="search" id="search-field" class="field" required maxlength="">
      <label for="search-field"><i class="mdi-action-search"></i></label>
      <i class="mdi-navigation-close close"></i>
    </div>
    </form>
    </div>

<% if logged_in? %>
  <div class="col-md-3">
   <button class="btn" type="login" name="action">  <%= "#{current_user.email}" %>
  </button>
  </div>
  <div class="col-md-2">
   <%= link_to "logout", logout_path, :class=>"btn waves-effect waves-light" %>
  </div>
  <% else %>

  <div class="col-md-3">
   <%= link_to "login", login_path, :class=>"btn waves-effect waves-light" %>
  </div>
<% end %>


<div class="col-md-2">
  <div class="row">
    <div class="col-md-6">
     <%=link_to image_tag("shop.png", :alt => "rs feed"), carts_path  %>
    </div>

    <div class="col-md-6">
      <div class = "count">

          <%= "#{LineItem.count}"%>

     </div>
    </div>


</div>
</div>

</div>
<%= image_tag("navtop.jpg", :alt => "rss feed") %>
  </div>
      <hr>
      <div class="navtop">
        <div class="row">
         <div id="side">

          <div class="col-md-1"><b><%=link_to "TRAVEL", travels_path%></b></div>
          <div class="col-md-2"><b><%=link_to "FOOD & DRINKS", foodanddrinks_path%></b></div>

          <div class="col-md-2"><b><%=link_to "EVENTS & ACTIVITIES", eventsandactivities_path%></b></div>
          <div class="col-md-1"><b><%=link_to "BEAUTY", beauties_path%></b></div>
          <div class="col-md-2"><b><%=link_to "ELECTRONICS", electronics_path%></b></div>
          <div class="col-md-2"><b><%=link_to "FASHION", fashions_path%></b></div>
          <div class="col-md-2"><b><%=link_to "HOME & LIVING", homeandlivings_path%></b></div>

      </div>
    </div>
  <%= link_to 'New Deal', new_deal_path %>
<%= yield %>

</body>
</html>
